* {
    margin: 0;
    padding: 0;
    display: block;
}

.main {
    display: flex;
    min-height: 100vh;
}

.left{
    background-color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}
span{
    color: #575A85;
    font-size:25px ;
}
.left>P,#ip{
    color: #B8BCCC;
}
.right>p{
    color: #B8BCCC;
    font-size: 25px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #575A85;
    width: 50%;
}

.btn{
    background-color: #575A85;
    color:#B8BCCC;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid #B8BCCC;
    cursor: pointer;
}

.parent{
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height: 100vh;
}

.one{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.one .geo-info{
    color: #B8BCCC;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.one>p{
    color: #B8BCCC;
    font-size: 25px;
}

.two{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
   align-items: center;
   background-color: #575A85;
}

.two>h1{
    color: #B8BCCC;
    font-size: 25px;
}
.three{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.three>h1{
    color: #B8BCCC;
    text-align: center;
    margin: 10px;
}

.three h3 , .three p{
    color: #B8BCCC;
    opacity: 50%;
    margin: 5px;
}

.four{
    margin: 10px;
    padding: 10px;
    color: #B8BCCC;
}

.four h1{
    text-align: center;
}

.search-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 10px;
}

#searchBox {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: -webkit-fill-available;
    background-color: black;
    color: white;
}

#searchBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.post-div{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* background-color: #575A85; */
    /* color: #B8BCCC; */
    width:100%;
    border-radius: 10px;
}


